{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div>
        <h1>Login</h1>
        <div id="login-block">
            <form action="/login" method="post">
                <input type="text" name="username" autocomplete="off" placeholder="Username">
                <input type="password" name="password" autocomplete="off" placeholder="Password">
                <button type="submit">Login</button>
            </form>
        </div>
        <div id="register-block">
            <p><i>No account? (Remember you can stay anonymous)</i></p>
            <h1>Register</h1>
            <form action="/register" method="post">
                <input type="text" name="username" autocomplete="off" placeholder="Username">
                <input type="password" name="password" autocomplete="off" placeholder="Password">
                <input type="password" name="pass-confirmation" autocomplete="off" placeholder="Confirm Password">
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
{% endblock %}
